body,html {
	
   
	
}


#navbar {
	margin: auto;
	height: 100%;
	width:100%;
	position: fixed;
    background:linear-gradient(to bottom, red, #c4daf1);
  	}

#navtable {
  	 width: 100%;
   	 color: #FCFCF2;
   	 padding: 20px 10px;
   	 font-size: 1.2em;
   	 font-family: "Roboto", sans-serif;
    
   
}

#feeds{
    margin-top:100vh;
}

#navlogo {
	position:absolute;
    width:100%;
    top:30%;
	
}

.fb-like{
    position:fixed;
    top:0px;
    left:0px;
    
}

.thlogo {
    width:130px;
    
}



/*
#column {
	background-image: url("images/sweat_column.jpg");
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: left top;
	background-size: 150px 600px;
	border-left: 5px solid black;
	width: 150px;
	height: 100%;
	color: white;
	}
*/

.social {
    text-align:right;
    
    
}
th{
     font-weight:300;

}

th a:link {
	display:block;
	color: white;
	text-decoration: none;
    
}

th a:visited {
    color: white;
}

th a:hover {
    background-color: red;
    text-decoration: line-through;
    color: black;
}  	

th a:active {
	 background-color: #6735FC;
	 color: #F9C7C9;
}

.notready {
    color:#222c6c;
}

/* #player {
	padding: 25px
	} moved to player.html */
