
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

	[class*="fontawesome-"]:before {
	  font-family: 'FontAwesome', sans-serif;
	}

body {
    background-color: blue;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background {
    background-image: url(images/streambackground.gif);
    background-repeat:round;
    position: fixed;
    opacity: .8;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(0.5px);
}


.radioco-nowPlaying {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    color: white;
    width: 100%;
    text-align: left;
    
}

/* BUTTON */

	.radioco-playButton-playing:before{
		font-family: 'FontAwesome', sans-serif;
	  content: "\f04b";
	}

	.radioco-playButton-paused:before{
		font-family: 'FontAwesome', sans-serif;
	  content:"\f04c";
	}

.radioco-playButton{
    color:#b60000;
    font-size:100px;
}

	.radioco-playButton:active{
	  color:darkred;
	}

.radioco-playButton-playing{
    position: relative;
    font-family: "controls";
    font-size: 14vw;
    float: left;

}

.radioco-playButton-paused{
    position: relative;
    font-family: "controls";
    font-size:14vw;
    float: left;
}


/* IMAGE */
.radioco-image{
    position: relative;
    float: right;
    width: 100%;

}

.radioco-volume {
    width: 100%;
    margin-top: 5%;
    height: 2vw;
}

.radioco-volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.radioco-volume::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


#controller .radioco-image {
    display: none;
}

#musicimage .radioco-playButton-playing {
    display: none;
}

#musicimage .radioco-nowPlaying {
    display: none;
}

#musicimage .radioco-playButton-paused {
    display: none;
}

#musicimage .radioco-volume{
    display: none;
}

/* ******* code ******* */
#container {
    width: 100%;
    height: 70vw;
    overflow: hidden;
    
}
#controller {
    float: left;
    width: 30%;
    height: 70vw; 
    padding: 2%;
}

#musicimage {
    float: right;
    width: 65%;
    height: 100vh;  
    overflow: hidden;
}
