
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

	[class*="fontawesome-"]:before {
	  font-family: 'FontAwesome', sans-serif;
	}

body {
    background-color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background {
/*    background-image: url(images/tumblr_nkfsxrvh3P1s4fz4bo1_500.gif);*/
    background: linear-gradient(to bottom, red, #c4daf1);
    background-repeat: repeat;
    position: fixed;
    opacity: .7;
    z-index: -1000;
    height: 100%;
    width: 100%;
    filter: blur(40px);
}


.radioco-nowPlaying {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    color: white;
    width:100%;
    text-align: center;
    
}

/* BUTTON */

	.radioco-playButton-playing:before{
		font-family: 'FontAwesome', sans-serif;
	  content: "\f04b";
	}

	.radioco-playButton-paused:before{
		font-family: 'FontAwesome', sans-serif;
	  content:"\f04c";
	}

.radioco-playButton{
    color:#b3f6f9;
    font-size:100px;
}

	.radioco-playButton:active{
	  color:darkblue;
	}

.radioco-playButton-playing{
    position: relative;
    font-family: "controls";
    font-size: 10vw;
    float: left;

}

.radioco-playButton-paused{
    position: relative;
    font-family: "controls";
    font-size:10vw;
    float: left;
}


/* IMAGE */
.radioco-image{
    position: relative;
    float: right;
    width: 100%;

}

#controller .radioco-image {
    display: none;
}

#musicimage .radioco-playButton-playing {
    display: none;
}

#musicimage .radioco-nowPlaying {
    display: none;
}

#musicimage .radioco-playButton-paused {
    display: none;
}

/* ******* code ******* */
#container {
    width: 100%;
    height: 70vw;
    overflow: hidden;
    
}
#controller {
    float: left;
    width: 30%;
    height: 70vw; 
    padding: 2%;
}

#musicimage {
    float: right;
    width: 65%;
    height: 100vh;  
    overflow: hidden;
}
